a{
	color: #495060!important;
}
.text-info{
	color: #5cadff;
}
.text-error{
	color: #ed3f14;
}
.text-success{
	color: #19be6b;
}
.text-warning{
	color: #ff9900;
}
.text-sub{
	color: #80848f;
}
.text-disabled{
	color: #bbbec4;
}
.bd-disabled{
	background: #bbbec4 !important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	overflow: hidden;
}
.btn{
	cursor: pointer;
}
.btn:hover{
	color: #19be6b;
}
.box{
	width: 1000px;
	margin: 50px auto;
}
.large_icon{
	width: 100px!important;
	height: 100px!important;
	border-radius: 50%!important;
	display: block!important;
	margin: 0 auto 10px!important;
}
.mb10{
	margin-bottom: 10px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.mb8{
	margin-bottom: 8px;
}
.mt10{
	margin-top: 10px;
}
.mt15{
	margin-top: 15px;
}
.mr10{
	margin-right: 10px;
}
.mr20{
	margin-right: 20px;
}
.mr30{
	margin-right: 30px;
}
.mtb10{
	margin: 10px 0;
}
.mtb20{
	margin: 20px 0;
}
.p8{
	padding: 8px;
}
.pr20{
	padding-right: 20px;
}
.ptb5{
	padding: 5px 0;
}
.fz16{
	font-size:16px;
}
.fz12{
	font-size:12px;
}
.w100{
	width: 100px;
}
.disabled{
	text-decoration: line-through;
}

.overflow{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}