.text-success{
	color: #19be6b;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.btn{
	cursor: pointer;
}
.btn:hover{
	color: #19be6b;
}
.box{
	width: 1000px;
	margin: 50px auto;
}
.large_icon{
	width: 100px!important;
	height: 100px!important;
	border-radius: 50%!important;
	display: block!important;
	margin: 0 auto 20px!important;
}
.mb20{
	margin-bottom: 20px;
}